[submodule "pymumble"]
	path = pymumble
	url = https://github.com/azlux/pymumble.git
[submodule "src/pymumble"]
	path = src/pymumble
	url = https://github.com/azlux/pymumble.git
[submodule "vox-recorder"]
	path = vox-recorder
	url = https://github.com/OH1KK/vox-recorder.git
